body {
  width: 350px;
  margin: 0;
  font-size: 13px;
}
.container {
    display: grid;
    padding: 20px;
    text-align: center;
    height: 100%;
  }
 .header{
    background-color:#F6E7D8;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 } 
 .large-txt{ font-size: 1.2rem;}
 .small-heading{
  font-size:10px;
  font-weight:700;
 }
 .mt-20{margin-top:20px}
 .flex{display:flex}
 .bold-700{
  font-weight:700;
 }
.align-items-center{align-items:center}
.gap-15{gap:15px}
.space-between{justify-content:space-between}
.number-inp{
  border: none;
    background: #f6d9c4;
    border-radius: 15px;
    padding: 2px 20px;
    width: 90px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
 .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff5400;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff5400;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.searchWrapper,.multiSelectContainer ul{width: 115%;}
.multiSelectContainer li:hover {
    background: #fccab1;
    color: #000;
    cursor: pointer;
}
.highlightOption {
    background: #fff;
    color: #000;
}
.search-wrapper.searchWrapper span{display:none} 
input[type="checkbox"] {
  accent-color: #F14902;
}
