.product-active{
    -webkit-box-shadow: 0px 0px 9px 5px #FF9E75 !important;
    -moz-box-shadow: 0px 0px 9px 5px #FF9E75 !important;
     box-shadow: 0px 0px 9px 5px #FF9E75 !important;
}
.product-hide{
    display: none !important
}